header {
    position: sticky;
    background-color: blanchedalmond;
    z-index: 1;
    top: 0px;
    height: 119px;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 20px;
    width: 100%;
}
